.card {
    all: unset;
    border-radius: 15px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    max-width: 318px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    line-height: 24px;
  }
  .card>img{
      border-radius: 15px 15px 0 0;
      max-width: 100%;
      height: auto;
  }