
  <!-- search, sorting and refresh component-->
<div class="controls">
  <div class="filter">
    <input type="text" [(ngModel)]="searchText" (input)="applySearchFilter()" placeholder="Search by name" />
    <button (click)="toggleSortOrder()">Name <i class="fas fa-sort"></i></button>
  </div>
  <i class="fas fa-sync-alt refresh-button" (click)="refreshData()"></i>
</div>

<div class="card-container" >
  <div *ngFor="let user of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
    <a [routerLink]="['/user', user.id]">
      <app-user-card [inputData]="user"></app-user-card>
    </a>
  </div>
</div>

<div class="pagination-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>